{% extends 'layout.html.twig' %}
{% block title %} | {{ parent() }}{% endblock %}
{% block content %}
    <div class="container">
        <h2>Panier</h2>
            <div id="panier">

                {% for produit in produits %}
                    <div class="col-md-4 col-sm-6 hero-feature">
                        <div class="thumbnail">

                            <img src="{{ asset(produit.url) }}" alt="{{ produit.alt }}">


                            <div class="caption">
                                <h3>{{ produit.nom }}</h3>
                                <h4>Quantité : {{ produit.quantite }}</h4>
                                <select id="qte" class="form-control" style="display: none">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>




                                <p>
                                    <span class="badge">{{ produit.prix * produit.quantite }} €</span>
                                    <a href="{{path('store_product_details', {'id':produit.idprod})}}" class="btn btn-default">Voir la fiche</a>
                                    <a href="{{ path('suppr_article_panier', {'id': produit.index}) }}">Supprimer l'article</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>



            </div>
    <h3 class="alert alert-info">Prix total : {{ prix_total }} €</h3>
    <a href="{{ path('store_product_list', {'categorie': 'all'}) }}" class="btn btn-info">Continuer mes achats</a>
    {% if prix_total != 0 %}
    <a href="{{ path('valide_panier') }}" class="btn btn-success">Commander</a>
    {% endif %}




{% endblock %}