{% extends 'layout.html.twig' %}




{% block title %}
    {{ produit.nom }}  |   {{ parent() }}

{% endblock %}




{% block content %}
    <!-- Page Content -->
    <!--  <div class="container"> !-->

    <div class="row">

        {{ render(controller(
            'App\\Controller\\ProductController::categList',
            { 'urlPage': urlPage , 'categ': produit.cat }

        )) }}



        <div class="col-md-9">

            <p class="lead">Fiche descriptive <b>{{ produit.nom }}</b>
                <a href="{{ path('store_product_list', {'categorie':'all'}) }}" class="btn btn-default pull-right">Retour aux produits</a></p>

            <div class="row">

                <div class="well">
                    <img class="img-responsive" src="{{ asset(produit.url) }}" alt="{{ produit.alt }}">
                    <div class="caption-full">
                        <h4 class="pull-right"><span class="badge">{{ produit.prix }} €</span></h4>
                        <h3>{{ produit.nom }}</h3>
                        <p>{{ produit.description }}</p>
                        <p>
                            {{ produit.longDescription }}

                        </p>

                    </div>


                </div>
                {% if produit.qte_stock != 0 %}
                <a href="{{path('store_ajout_panier', {'id':produit.id})}}" class="btn btn-info">Ajouter au panier</a>
                {% else %}
                    <span class="label label-danger">En rupture de stock</span>
                {% endif %}


            </div>

        </div>

    </div>

    <!--     <hr> !-->




    <!--  </div> !-->
    <!-- /.container -->



{% endblock %}





