{% extends 'layout.html.twig' %}



{% block title %}
    Nos produits  |  {{ parent() }}

{% endblock %}



{% block content %}
<!-- Page Content -->
<!--   <div class="container">!-->

<div class="row">

    {{   render(controller(
        'App\\Controller\\ProductController::categList',
        { 'urlPage': urlPage , 'categ': categA }

    )) }}



    <div class="col-md-9">

        <p class="lead">Nos produits <b>
                {% if categA !='all' %}
                    {{ categ.nom }}
                {% else %} Toutes les catégories

                {% endif %}</b></p>




        <div class="row text-center">


            {% for produit in produits %}
            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">

                    <img src="{{ asset(produit.url) }}" alt="{{ produit.alt }}">


                        <div class="caption">
                        <h3>{{ produit.nom }}</h3>
                        <p>{{ produit.description }}</p>
                        <p>
                            <span class="badge">{{ produit.prix }} €</span>
                            <a href="{{path('store_product_details', {'id':produit.id})}}" class="btn btn-default">Voir la fiche</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}







        </div>






        <div class="row text-center">

            <nav>
                <ul class="pagination pagination-lg">
                    {% if pageA>1 %}
                    <li>
                        <a href="?page={{ pageA-1 }}" aria-label="Précédent">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for page in 1..pages_count %}
                        <li class="{% if page==pageA %}active{% endif %}">
                            <a href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endfor %}

                    {% if pageA<pages_count %}
                    <li>
                        <a href="?page={{ pageA+1 }}" aria-label="Suivant">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>

        </div>

    </div>

</div>

<!--   <hr> !-->


<!--    </div> !-->
<!-- /.container -->



{% endblock %}





